<footer>
  <div class="container">
    <div class="footer-wrapper">
      <a class="logo" href="javascript:void(0)">
        <img src="img/logo.svg" alt="" />
      </a>
      <div class="main-menu">
        <ul>
          <li>
            <a href="javascript:void(0)">
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span>Blog</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span>FAQ</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span>Apply</span>
            </a>
          </li>
        </ul>
        <div class="terms-links">
          <a href="javascript:void(0)">Privacy Policy</a>
          <a href="javascript:void(0)">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</footer>