<header>
  <div class="header-container">
    <div class="header-wrapper">
      <a class="logo" href="javascript:void(0)">
        <img src="img/logo.svg" alt="" />
      </a>
      <div class="main-menu">
        <ul>
          <li>
            <a href="javascript:void(0)">
              Home
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Blog
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              FAQ
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Apply
            </a>
          </li>
          <li id="menu-item-769">
            <a href="javascript:void(0)">
              <span>My Account</span>
            </a>
          </li>
        </ul>
        <div>
          <ul class="mentee hover-menu" style="display: none">
            <li><a href="javascript:void(0)">My subscriptions</a></li>
            <li><a href="javascript:void(0)">Profile</a></li>
            <li><a href="javascript:void(0)">Payment</a></li>
            <li><a href="javascript:void(0)">Password</a></li>
            <li><strong></strong></li>
            <li ><a href="javascript:void(0)">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>